.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 100px;
  }

  .direccion{
    text-align: center;
    margin: 10px;
    font-size: .8rem;
  }

.descripcion{
    text-align: justify;
}

.titulo{
    text-align: center;
}